<div>
    <h2 id="page-heading">
        <span jhiTranslate="cloudappwatchApp.server.home.title">Servers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-server" [routerLink]="['/server/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cloudappwatchApp.server.home.createLabel">
            Create a new Server
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="servers?.length === 0">
        <span jhiTranslate="cloudappwatchApp.server.home.notFound">No servers found</span>
    </div>
    <div class="table-responsive" *ngIf="servers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hostName"><span jhiTranslate="cloudappwatchApp.server.hostName">Host Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="cloudappwatchApp.server.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastCheck"><span jhiTranslate="cloudappwatchApp.server.lastCheck">Last Check</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="admin.login"><span jhiTranslate="cloudappwatchApp.server.admin">Admin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let server of servers ;trackBy: trackId">
                <td><a [routerLink]="['/server', server.id, 'view' ]">{{server.id}}</a></td>
                <td>{{server.hostName}}</td>
                <td jhiTranslate="{{'cloudappwatchApp.ServiceStatus.' + server.status}}">{{server.status}}</td>
                <td>{{server.lastCheck | date:'medium'}}</td>
                <td>
                    {{server.admin?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/server', server.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/server', server.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/server', { outlets: { popup: server.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
