<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-app-heading" jhiTranslate="cloudappwatchApp.app.home.createOrEditLabel">Create or edit a App</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cloudappwatchApp.app.commandLine" for="field_commandLine">Command Line</label>
                    <textarea class="form-control" name="commandLine" id="field_commandLine"
                              formControlName="commandLine"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cloudappwatchApp.app.serviceFlag" for="field_serviceFlag">Service Flag</label>
                    <input type="checkbox" class="form-control" name="serviceFlag" id="field_serviceFlag"
                           formControlName="serviceFlag"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cloudappwatchApp.app.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="UP">{{'cloudappwatchApp.AppStatus.UP' | translate}}</option>
                        <option value="DOWN">{{'cloudappwatchApp.AppStatus.DOWN' | translate}}</option>
                        <option value="FAILURE">{{'cloudappwatchApp.AppStatus.FAILURE' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cloudappwatchApp.app.server" for="field_server">Server</label>
                    <select class="form-control" id="field_server" name="server" formControlName="server">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="serverOption.id === editForm.get('server').value?.id ? editForm.get('server').value : serverOption" *ngFor="let serverOption of servers; trackBy: trackServerById">{{serverOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
