<div>
    <h2 id="page-heading">
        <span jhiTranslate="cloudappwatchApp.app.home.title">Apps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-app" [routerLink]="['/app/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cloudappwatchApp.app.home.createLabel">
            Create a new App
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="apps?.length === 0">
        <span jhiTranslate="cloudappwatchApp.app.home.notFound">No apps found</span>
    </div>
    <div class="table-responsive" *ngIf="apps?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commandLine"><span jhiTranslate="cloudappwatchApp.app.commandLine">Command Line</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceFlag"><span jhiTranslate="cloudappwatchApp.app.serviceFlag">Service Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="cloudappwatchApp.app.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="server.name"><span jhiTranslate="cloudappwatchApp.app.server">Server</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let app of apps ;trackBy: trackId">
                <td><a [routerLink]="['/app', app.id, 'view' ]">{{app.id}}</a></td>
                <td>{{app.commandLine}}</td>
                <td>{{app.serviceFlag}}</td>
                <td jhiTranslate="{{'cloudappwatchApp.AppStatus.' + app.status}}">{{app.status}}</td>
                <td>
                    <div *ngIf="app.server">
                        <a [routerLink]="['/server', app.server?.id, 'view' ]" >{{app.server?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/app', app.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/app', app.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/app', { outlets: { popup: app.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
